  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none ;
    background: pink ; 
    padding: 10px;
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px pink;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px green;
    font-size: 20px;
  }
 canvas{
  border:5px solid rgb(241, 91, 91);
  border-radius:20px;
  box-shadow:5px 5px 5px rgb(241, 91, 91);
  margin-top: 160px;
 }